/* Variables globals*/
:root{
    /* Colors */
    --color-black: #000000;
    --color-contrast: #ff00ac;
    --color-blau: #002fff;
    --text-blanc: #ffffff;

}

/* Estils Genèrics */
@font-face {
    font-family: 'TitleFont';
    src: url('./resources/VT323-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

body{
    margin: 0;
    font-family: "Helvetica", sans-serif;
    background-color: #f4f4f4;
}

/* index.html - PORTADA */
.subcontainer h1{
    color: #FFFFFF;
    font-family: 'TitleFont';
    font-size: 2.5em;
    line-height: 0.8;
    margin:0;
}
.bgPortada {
    background: linear-gradient(-45deg, #0027ca, #4102ca, #a502ca,#ca028b);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    overflow: hidden;
}
/* Animació de la portada */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.cMain{
    height: 80vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
.subcontainer{
    padding:1em 0em 1em 0em;
    width:90%;
    text-align:center;
    color: white;
    font-size: 2.2em;
}
.logoPPrincipal{
    max-height: 450px;
}
.menuPortada{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    padding:0px;
    gap: 1.5em;
}
.menuPortada li{
    list-style: none;
}
.menuPortada li a {
    padding: 0.6em 1.1em;
    border:1px solid white;
    border-radius: 4px;
    transition: background-color 0.5s ease-out 100ms;
    transition: color 0.5s ease-out 100ms;
    color:white;
    text-decoration: none;
}
.menuPortada li a:hover{
    background-color:#FFFFFF;
    color:black;
}



/** HEADER **/
.headerContent{
    padding-top: 0.2em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headerContent img{
    max-width: 200px;
}
.headerContent h1{
    font-weight:800;
    font-size: 5.5em;
    font-family: 'TitleFont';
    margin-top: 0;
    margin-bottom: 0.2em;
    text-align: center;
}
.headerContent h1 a{
    color: black;
    text-decoration: none;
}


/*      MENU NAVEGACIÓ PRINCIPAL        */
nav{
    padding-bottom: 2em;
    z-index:999,
}
nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding:0px;
}
nav ul li{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2em;
    padding: 0.2em;
    text-align: center;
}
nav ul li a{
    color: var(--color-black);
    text-decoration: none;
}
nav ul li a:hover{
    color: var(--color-contrast);
    text-decoration: none;
}
.selected{
    color: var(--color-contrast) !important;
}

/** DISTRIBUCIÓ CONTINGUTS ***/
.container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
}
header{
    grid-column: 1/1;
    grid-row: 1;
    background-color: white;
    color:black;
}
.navegacio{
    position: relative;
    grid-column: 1/1;
    grid-row:2;
    background-color: white;
    color:black;
    position: sticky;
    top:0;
    z-index: 1;
}
.navegacio .headerContent{
    padding: 0;
}
main{
    grid-column: 1/1;
    grid-row: 3;
    margin:0;
    margin-bottom: 3em;
}
section{
    padding: 0em 0.8em;
}

footer{
    background-color: var(--color-black);
    color:white;
    bottom:0;
}
.footerContent{
    text-align: center;
    line-height: 1.6;
}
.footerContent p{
    font-size: 1.8em;
    padding: 0 2em 0 2em;
}

.fportada{
    padding:0.8em 0.8em 0.6em 0.8em;
    margin:0;
    background-color: var(--color-black);
    color: white;
    height:4em;
    text-align: center;
    height:calc(20vh - 0.8em - 0.6em); 
}


/*      PEU DE PÀGINA       */
.footerContent a{
    color: var(--text-blanc);
    text-decoration: none;
}
.footerContent a:hover{
    color: var(--color-contrast)
}
.footerContent{
    opacity:0.7;
}
.pageUp{
    float: right;
}



/*  presentacio.html */
section h2{
    font-family:'TitleFont';
    font-size: 3em;
    color:var(--color-black);
    border-bottom: 1px solid var(--color-contrast);
}

section h1{
    font-family:'TitleFont';
    text-align:center;
    font-size: 5em;
    color:var(--color-black);
    border-bottom: 3px solid var(--color-contrast);
}

.miniGallery{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
    align-items:stretch;
    align-content: stretch;
    gap:0.8em;
    min-height:200px;
    list-style: none;
}

.miniGallery li{
    height: 200px;
    width: 200px;
}

.miniGallery li img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

/*categories.html*/
.carrouselCateg{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    gap:0.4em;
    justify-content: center;
    align-content: center;
}

.carrouselItem{
    width:100%;
    height:350px;
    text-decoration: none;
}

.carrouselItem img{
    position: absolute;
    width: 94%;
    height: 350px;
    object-fit:cover;
    z-index: -1;
}

.carrouselItem .itemText{
    position:relative;
    box-sizing: border-box;
    width:99%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    color:white;
    font-family:'TitleFont';
    font-size: 2.5em;
    opacity: 0;
}

.itemText:hover{
    transition: all 0.5s ease-out;
    background: rgba(0,0,0,0.6);
    border-top: 10px solid var(--color-contrast);
    border-bottom: 10px solid var(--color-contrast);
    opacity: 1;
}

/* detall.html */
.presentacioPerson{
    width: 100%;
    height: 300px;
    background: saddlebrown;
}

.presentacioPerson img{
    position: absolute;
    width: 100%;
    height:300px;
    object-fit: cover;
}

.presentacioPerson h3{
    position: relative;
    margin:0;
    padding:0.4em;
    color:white;
    font-family:'TitleFont';
    background-color: rgba(0,0,0,0.6);
    border-top: 5px solid var(--color-contrast);
    text-align: center;
    font-size: 3.5em;
    bottom: 0px;
}

.contingut{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.4em;
    width: 100%;
    padding: 0.4em;
    margin-top:0.8em;
}

.cEsquerre{
    text-align: justify;
}

.cDret section{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: flex-start;
}

.cDretContent{
    box-sizing:border-box;
    width:100%;
    height: 6em;
    font-family: 'TitleFont';
    background-color: var(--color-contrast);
    font-size:1.5em;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0.5em;
    transition: all 0.2s ease;
}


.cDretContent:hover{
    background-color:inherit;
    border-top: 10px solid var(--color-contrast);
    border-bottom: 10px solid var(--color-contrast);
}

.cDretContent a {
    color: black;
    text-decoration: none;
}

.cDret{
    padding:0.7em;
}

.cEsquerre h2{
    font-family:'TitleFont';
    font-size: 2em;
    padding:0.2em;
    margin:0;
    color:var(--color-black);
    border-bottom: 1px solid var(--color-contrast);
}

section iframe{
    margin-left: auto;
    margin-right: auto;
    display: table;

}
.desplegable {
    background-color:var(--color-contrast);
    font-family: 'TitleFont';
    color:#ffffff;
    cursor: pointer;
    padding: 0.2em;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.5em;
    transition: 0.4s;
  }
  .active{
      height:auto;
  }
  .active, .desplegable:hover {
    background-color: #ccc; 
  }
  
  .desplInfo {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

/*enllacos.html*/
section ul li .consulta::before{
    content:" ";
}
section ul li .consulta{
    font-size:0.8em;
    font-style: italic;
}

section ul li a{
    font-weight: bold;
    color:var(--color-contrast);
    text-decoration: none;
}

section ul li a:hover{
    color: var(--color-black);
    background-color: var(--color-contrast);
}


/** *****
*
*Mobile First --> @media contindrà la distribució pel DESKTOP**/ 
@media (min-width: 992px){
    body{
        font-size: 16px;
    }

    /* Portada - index.html */
    .subcontainer h1{
        font-size: 3.7rem;
    }

    .c80, .footerContent, .headerContent{
        width:80%;
    }

    .subcontainer{
        padding:1em 0em 1em 0em;
        width:50%;
        height: calc(88vh - 2em);
        text-align:center;
        color: white;
        font-size: 1em;
    }

    .logoPPrincipal{
    max-height: 200px;
    }

    .menuPortada{
        flex-direction: row;
    }

    .menuPortada{
        gap: 0.8em;
    }
    .menuPortada li{
        list-style: none;
    }
    .menuPortada li a {
        padding: 0.3em 0.7em;
    }


    /* header */
    .headerContent, .c80, .footerContent{
        width:80%;
        margin-left: auto;
        margin-right: auto;
    }
    .headerContent{
        padding-top: 0.2em;
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
    }
    .headerContent img{
        max-width: 80px;
    }
    .headerContent h1{
        text-align: left;
        font-size: 2em;
        margin-bottom:0;
    }
    nav{
        padding-bottom:0px;
    }
    nav ul{
        flex-direction: row;
        justify-content: flex-start;
    }
    nav ul li{
        text-transform: uppercase;
        font-weight: 800;
        font-size: 0.9em;
        padding: 0.2em;
        margin-right: 1.5em;
    }

    /* presentacio.html */
    section{
        padding:0;
        margin-bottom: 3em;
    }
    section h2{
        font-size: 2em;
        font-weight: 800;

    }
    section h1{
        font-size: 3em;
        font-weight: 800;
        text-align:center;
    }

    .miniGallery li{
        height: 11em;
        width: 11em;
        overflow: hidden;
    }

    .miniGallery li img{
        height: 11em;
        width: 11em;
        object-fit: cover;
    }

    /*categories.html*/
.carrouselCateg{
    flex-direction:row;
    justify-content: space-between;
    flex-wrap:wrap;
    gap:0.7em;
    align-content: center;
}

.carrouselItem{
    width:240px;
    height:200px;
    text-decoration: none;
}

.carrouselItem img{
    position: absolute;
    width: 240px;
    height: 200px;
    object-fit: cover;
    z-index: -1;

}

.carrouselItem .itemText{
    position:relative;
    box-sizing: border-box;
    width:240px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    color:white;
    font-family:'TitleFont';
    font-size: 1.5em;
    opacity: 0;
}

.itemText:hover{
    transition: all 0.5s ease-out;
    background: rgba(0,0,0,0.6);
    border-top: 10px solid var(--color-contrast);
    border-bottom: 10px solid var(--color-contrast);
    opacity: 1;
}


/* detall.html*/
.contingut{
    grid-template-columns: repeat(4, 1fr);
}

.cEsquerre{
    grid-column: 1 / 4;
}

.cDret{
    grid-column: 4 / 4;
}



    /* footer */
    footer{
        padding:2em;
    }
    .footerMedia img{
        transform: scale(1.1);
        padding: 0.2em; 
    }
    .footerContent p{
        padding: 0em;
        margin:0px;
        font-size:0.8em;
    }

    .fportada{ 
        width:100%;
        padding-top:0.8em;
        padding-bottom:0.6em;
        text-align: center;
    }
}
